<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ShortLink</title>
    </head>
    <body>
        <h1>
            ShortLink - an URL shortener API
        </h1>
        <form id = "encode", method="POST", action = "{{ url_for('routes.encode') }}">
            <label for="encode">Enter URL here to shorten:</label> 
            <input type="text", name="long_url">
            <input type="submit", value="Submit">
        </form>
        <br>
        <form id = "decode", method="GET", action = "{{ url_for('routes.decode') }}">
            <label for="decode">Enter URL here to decode:</label> 
            <input type="text", name="short_url">
            <input type="submit", value="Submit">
        </form>

        <script>
            document.getElementById("encode").reset();
            document.getElementById("decode").reset();
        </script>
    </body>
</html>